{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid publish-form-container">

    {% if updated %}
    <div class="alert alert-success" role="alert">
        Your post has been updated successfully!
    </div>
    <div class="col-md-3 col-sm-6">
        <a href="{% url 'user_posts' %}" class="btn btn-light">Back to Your Posts</a>
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <p>Editing as: {{ user.username }}</p>
    <form method="POST">
        {{ blog_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-sm mt-2 mb-2 btn btn-primary">Update Blog</button>
    </form>
    {% endif %}
    {% endif %}
</div>

{% endblock %}