{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card mt-2 mb-2 border-dark col-md-8 mx-auto text-center">
                {% if profile.user %}
                <h3 class="py-4 card-header status text-uppercase">{{ profile.user }}</h3>
                {% endif %}
            <div>
                {% if profile.location %}
                <h4 class="card-text py-4">Location: {{ profile.location }}</h4>
                {% endif %}
                {% if profile.bio %}
                <h4 class="card-text py-4">Bio: {{ profile.bio }}</h4>
                {% endif %}
            </div>
                <span class="py-4">
                    {% if request.user == user %}
                    <a href=" {% url 'user_profile_edit' profile.pk %} " style="color: #333;"><i class="far fa-edit"></i></a>
                    {% endif %}
                </span>
        </div>
    </div>
</div>
{% endblock content %}