{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card col-md-8 col-sm-12 shadow-sm px-5 pt-3">
                {% if profile.user %}
                <h3 class="py-4">{{ profile.user }}
                {% endif %}
            <div>
                {% if profile.location %}
                <p>{{ profile.location }}</p>
                {% endif %}
                {% if profile.bio %}
                <p>{{ profile.bio }}</p>
                {% endif %}
            </div>
            {% if profile.user %}
                <h3 class="py-4">{{ profile.user }}
                    <span>
                        {% if request.user == user %}
                        <a href="{% url 'user_profile_edit' profile.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                        {% endif %}
                    </span></h3>
                {% endif %}
        </div>
    </div>
</div>
{% endblock content %}